.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    margin: 0;
    background: white;
}
.header-container{
    display: flex;
    flex-direction: row;
    margin: 0;
    background: white;
}
.left{
    background: white;
    align-self: start;
    display: flex;
    flex-direction: row;
}
.left-container{
    background: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.left-container p{
    background: white;
    color: #343c6a;
  font-family: "Mont-HeavyDEMO", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;   
}
.left-container img{
    background: white;
    height: 36px;
    left: 0;
    object-fit: cover;   
}

.right{
    background: white;
    display: flex;
    flex-direction: row;
}
.right-container{
    display: flex;
    flex-direction: row;
}
.left-1{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background: white;
}
.left-1 p{
    color: #343c6a;;
    background: white;
    font-size:19px;
    font-style: normal;
    font-weight: 700;
}
.rigth-1{
    background: white;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
.rigth-1 input{
    border: none;
    border-radius: 25px;
    background: #F5F7FA;
    color: #8BA3CB;
}
.setting{
    border-radius: 5px;
    border: red;
}
.user{
    background: white;
}
.user img{
    background: white;
}