.box {
  height: 101px;
  position: relative;
  width: 1440px;
}

.box .header {
  background-color: transparent;
  height: 101px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1440px;
}

.box .overlap {
  background-color: #ffffff;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.box .group {
  height: 60px;
  left: 38px;
  position: relative;
  top: 20px;
  width: 1362px;
}

.box .div {
  height: 60px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 1112px;
}

.box .mask-group {
  height: 60px;
  left: 1050px;
  position: absolute;
  top: 0;
  width: 60px;
}

.box .settings-wrapper {
  background-color: #f4f6f9;
  border-radius: 25px;
  height: 50px;
  left: 885px;
  position: absolute;
  top: 5px;
  width: 50px;
}

.box .settings {
  height: 25px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 25px;
}

.box .element-notification-wrapper {
  background-color: #f4f6f9;
  border-radius: 25px;
  height: 50px;
  left: 965px;
  position: absolute;
  top: 5px;
  width: 50px;
}

.box .element-notification {
  height: 25px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 25px;
}

.box .text-wrapper {
  color: var(--primary-2);
  font-family: var(--heading-one-semibold-28p-font-family);
  font-size: var(--heading-one-semibold-28p-font-size);
  font-style: var(--heading-one-semibold-28p-font-style);
  font-weight: var(--heading-one-semibold-28p-font-weight);
  left: 0;
  letter-spacing: var(--heading-one-semibold-28p-letter-spacing);
  line-height: var(--heading-one-semibold-28p-line-height);
  position: absolute;
  top: 13px;
}

.box .overlap-group-wrapper {
  height: 50px;
  left: 600px;
  position: absolute;
  top: 5px;
  width: 257px;
}

.box .overlap-group {
  background-color: #f4f6f9;
  border-radius: 40px;
  height: 50px;
  position: relative;
  width: 255px;
}

.box .magnifying-glass {
  height: 20px;
  left: 25px;
  position: absolute;
  top: 15px;
  width: 20px;
}

.box .text-wrapper-2 {
  color: #8ba3cb;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.box .logo {
  height: 36px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 185px;
}

.box .iconfinder-vector {
  height: 36px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 36px;
}

.box .text-wrapper-3 {
  color: var(--primary-2);
  font-family: "Mont-HeavyDEMO", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
}

.box .rectangle {
  background-color: #e5eef4;
  height: 1px;
  left: 250px;
  position: absolute;
  top: 100px;
  width: 1190px;
}
